<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ANOADSAApp"
        tools:targetApi="31">
<!--        <activity-->
<!--            android:name=".TestActivity1"-->
<!--            android:exported="false" />-->
        <!-- <activity -->
        <!-- android:name=".ui.login.LoginActivity" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_login" /> -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.menu.MenuActivity"
            android:label="MenuActivity.java"
            android:theme="@style/Theme.ANOADSAApp.NoActionBar" />
        <activity
            android:name=".ui.activities.registration.RegistrationActivity"
            android:label="@string/registrationActivityName" />
        <activity
            android:name=".ui.activities.login.LoginActivity"
            android:label="@string/loginActivityName" />
        <activity
            android:name=".ui.activities.restoreaccess.RestoreAccessActivity"
            android:label="@string/restoreAccessActivityName" />
        <activity
            android:name=".ui.activities.smscode.SmsCodeActivity"
            android:label="@string/smsCodeActivityName" />
    </application>

</manifest>